.dialogsContainer {
  background-color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1);
  height: 90vh;
  overflow-y: scroll;
}
.mainComtainer {
  display: flex;
}