.form-container {
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(97,127,152,.2), 1px 0 0 rgba(97,127,152,.1), -1px 0 0 rgba(97,127,152,.1)
}
.form-container button {
    width: 150px;
    margin: 10px auto;
    border-radius: 4px;
    background-color: white;
    border: none;
    color: #5682a3;
    cursor: pointer;
    font-weight: bolder;
    outline: none;
}
.form-container input {
    border-radius: 5px;
    height: 25px;
    padding: 0 10px;
}
.form-container input::-webkit-input-placeholder {
    padding: 0 5px;
}
.form-container input:focus {
    outline: none;
}
